@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-success: #16A34A;             
  --color-warnig: #D97706;       
  --color-error: #EF4444;
  --color-primary: #D9583B;
  --color-secondery: #F3E3D3;
  --color-accent: #000000;
  --color-base: #FFF7F0;
  --color-base-100: #9c9898;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}




